.todoItem {
	width: 600px;
	background-color: #ffffff;
	padding: 14px 20px;
	display: flex;
	align-items: center;
	box-sizing: border-box;
}

.todoId {
	width: 26px;
	height: 26px;
	border-radius: 50%;
	border: 2px solid #313131;
	color: #313131;
	background-color: #83d8d2;
	display: flex;
	justify-content: center;
	align-items: center;
	font-weight: 500;
	font-size: 14px;
	margin-right: 16px;
	flex-shrink: 0;
}

.todoTitle {
	color: #313131;
	font-size: 16px;
	font-weight: 400;
	font-family: 'Jost', sans-serif;
	flex-grow: 1;
	text-align: left;
	cursor: pointer;
}

.todoTitleInput {
	flex: 1;
	border: none;
	outline: none;
	background: transparent;
	font-size: 16px;
	font-weight: 400;
	font-family: 'Jost', sans-serif;
	color: #313131;
	padding: 0;
	margin: 0;
}
