.App {
	text-align: center;
	display: flex;
	flex-direction: column;
	align-items: center;
}

.headerRow {
	width: 600px;
	display: flex;
	justify-content: space-between;
	align-items: center;
	box-sizing: border-box;
}
.menu {
	margin-top: center;
	width: auto;
	background-color: transparent;
	display: flex;
	gap: 20px;
	padding: 0;
}

.todoList {
	width: 600px;
	display: flex;
	flex-direction: column;
	gap: 20px;
}
