@import url('https://fonts.googleapis.com/css2?family=Jost:ital,wght@0,100..900;1,100..900&family=Montserrat:ital,wght@0,600;1,600&display=swap');

body {
	margin: 0;
	background-color: #3d928c;
	font-family: 'Jost', sans-serif;
	font-weight: 400;
	display: flex;
	justify-content: center;
	align-items: center;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

code {
	font-family: 'Jost', sans-serif;
}
